{
    "openapi": "3.0.0",
    "info": {
        "title": "Непросто диджитал",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "L5 Swagger OpenApi dynamic host server"
        },
        {
            "url": "https://staging-api.sknt.ai//api/v1",
            "description": "L5 Swagger OpenApi Server"
        }
    ],
    "paths": {
        "/platforms/sknt": {
            "get": {
                "tags": [
                    "Sknt_link"
                ],
                "summary": "sknt links",
                "description": "Генерация sknt links перед созданием новой позиции рекламы",
                "operationId": "genSkntLinks",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true,
                                            "data": {
                                                "sknt_id": "#a2",
                                                "links": {
                                                    "vk": "sknt_id|#a2|cid|{campaign_id}|aid|{ad_id}|key|{keyword}|src|{platform}",
                                                    "my_target": "sknt_id|#a2|cid|{{campaign_id}}|aid|{{banner_id}}|key|{{search_phrase}}",
                                                    "yandex_direct": "sknt_id|#a2|cid|{campaign_id}|gid|{gbid}|aid|{ad_id}|key|{phrase_id}|src|{source_type}|dmn|{source}|pos|{position_type}_{position}"
                                                }
                                            },
                                            "message": "Records returned.",
                                            "statusCode": 200
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/clients/???": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "\n    App\\Http\\Controllers\\API\\Client\\Campaign\\Host\\AdsHostsController::index()",
                "operationId": "indexHost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clients/??": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "\n    App\\Http\\Controllers\\API\\Client\\Campaign\\Host\\AdsHostsController::index_all()",
                "operationId": "indexallHost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clients/?": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "\n    App\\Http\\Controllers\\API\\Client\\Campaign\\Host\\AdsHostsController::show()",
                "operationId": "showHost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clients/{client_id}/campaign/{campaign_id}/hosts": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "Сохранение позиции\n    App\\Http\\Controllers\\API\\Client\\Campaign\\Host\\AdsHostsController::store()",
                "operationId": "storeHost",
                "requestBody": {
                    "description": "name - названия создаваемой группы объявлений.\n    ads_ids - массив идентификаторов объявлений, которые нужно сгруппировать.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "Название"
                                            },
                                            "platformsId": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "paymentModelsId": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "volume": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "budget": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "marginality": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "dateFrom": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "dateTo": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "dateFromInput": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "dateFinishInput": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "link": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "shortLink": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "skntId": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "skntLink": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "logo": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05.png"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clients": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "\n    App\\Http\\Controllers\\API\\Client\\Campaign\\Host\\AdsHostsController::update()",
                "operationId": "updateHost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clients/{client_id}/campaign/{campaign_id}/logo": {
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "Загрузка логотипа\n      App\\Http\\Controllers\\API\\Client\\Campaign\\Host\\AdsHostsController::uploadLogo()",
                "operationId": "uploadLogo",
                "parameters": [
                    {
                        "name": "logo",
                        "in": "path",
                        "description": "Картинка для логотипа",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "filename": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05.png"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/ads/create": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Создание группы объявлений\n    App\\Http\\Controllers\\API\\Groups\\AdsGroupsController::create()",
                "operationId": "createGroup",
                "requestBody": {
                    "description": "name - названия создаваемой группы объявлений.\n    ads_ids - массив идентификаторов объявлений, которые нужно сгруппировать.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "Группа1"
                                            },
                                            "project_id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "position_id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "ads_ids": {
                                                "example": [
                                                    "914c8a10-7b8e-495f-a5f3-8dcc5e963817",
                                                    "621b0071-28de-40e8-930e-25308e345a05"
                                                ]
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "id - идентификатор созданной группы",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "errors": {
                                            "properties": {
                                                "text": {
                                                    "type": "string",
                                                    "example": "System error"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/ads/rename": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Переименование группы\n    App\\Http\\Controllers\\API\\Groups\\AdsGroupsController::rename()",
                "operationId": "renameGroup",
                "requestBody": {
                    "description": "id - идентификатор группы, которую нужно переименовать.\n    name - новое имя группы объявлений.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Новая группа"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/ads/add": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Добавление объявления в группу\n    App\\Http\\Controllers\\API\\Groups\\AdsGroupsController::add()",
                "operationId": "addToGroup",
                "requestBody": {
                    "description": "id - идентификатор группы, в которую добавляется объявление.\n    ads_id- Идентификатор добавляемого объявления.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "ads_id": {
                                                "type": "string",
                                                "example": "0b0e8c66-9356-47ad-90d9-e1d0504e6764"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/ads/delete": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Удаление объявления из группы\n    App\\Http\\Controllers\\API\\Groups\\AdsGroupsController::delete()",
                "operationId": "deleteFromGroup",
                "requestBody": {
                    "description": "id - идентификатор группы, из которой удаляется объявление.\n    ads_id- Идентификатор удаляемого объявления.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "ads_id": {
                                                "type": "string",
                                                "example": "0b0e8c66-9356-47ad-90d9-e1d0504e6764"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/ads/remove": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Удаление группы (разгруппировка)\n    App\\Http\\Controllers\\API\\Groups\\AdsGroupsController::remove()",
                "operationId": "removeGroup",
                "requestBody": {
                    "description": "id - идентификатор удаляемой группы",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/campaign/create": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Создание группы кампаний\n    App\\Http\\Controllers\\API\\Groups\\CampaignGroupsController::create()",
                "operationId": "createCampaignGroup",
                "requestBody": {
                    "description": "name - названия создаваемой группы кампаний.\n    ads_ids - массив идентификаторов кампаний, которые нужно сгруппировать.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "Группа1"
                                            },
                                            "project_id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "position_id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "ads_ids": {
                                                "example": [
                                                    "914c8a10-7b8e-495f-a5f3-8dcc5e963817",
                                                    "621b0071-28de-40e8-930e-25308e345a05"
                                                ]
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "id - идентификатор созданной группы",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "errors": {
                                            "properties": {
                                                "text": {
                                                    "type": "string",
                                                    "example": "System error"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/campaign/rename": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Переименование группы\n    App\\Http\\Controllers\\API\\Groups\\CampaignGroupsController::rename()",
                "operationId": "renameCampaignGroup",
                "requestBody": {
                    "description": "id - идентификатор группы, которую нужно переименовать.\n    name - новое имя группы объявлений.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Новая группа"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/campaign/add": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Добавление кампании в группу\n    App\\Http\\Controllers\\API\\Groups\\CampaignGroupsController::add()",
                "operationId": "addCampaignToGroup",
                "requestBody": {
                    "description": "id - идентификатор группы, в которую добавляется объявление.\n    ads_id- Идентификатор добавляемого объявления.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "ads_id": {
                                                "type": "string",
                                                "example": "0b0e8c66-9356-47ad-90d9-e1d0504e6764"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/campaign/delete": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Удаление кампании из группы\n    App\\Http\\Controllers\\API\\Groups\\CampaignGroupsController::delete()",
                "operationId": "deleteCampaignFromGroup",
                "requestBody": {
                    "description": "id - идентификатор группы, из которой удаляется объявление.\n    ads_id- Идентификатор удаляемого объявления.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            },
                                            "ads_id": {
                                                "type": "string",
                                                "example": "0b0e8c66-9356-47ad-90d9-e1d0504e6764"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "groups/campaign/remove": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Удаление группы (разгруппировка)\n    App\\Http\\Controllers\\API\\Groups\\CampaignGroupsController::remove()",
                "operationId": "removeCampaignGroup",
                "requestBody": {
                    "description": "id - идентификатор удаляемой группы",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "621b0071-28de-40e8-930e-25308e345a05"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "platforms/custom/report": {
            "post": {
                "tags": [
                    "Platforms"
                ],
                "summary": "Загрузка отчета в виде xls(x)\r\n                    App\\Http\\Controllers\\API\\Platforms\\CustomDataController::uploadReport()",
                "operationId": "uploadReport",
                "parameters": [
                    {
                        "name": "report",
                        "in": "path",
                        "description": "Файл шаблона отчета в формате xls(x)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "columns - названия колонок из excel шаблона.\r\n           Если матчится, в значении название по русски. Если нет - там оригинальное название,\r\n           Несовпавшие названия можно получить из массива invalid.\r\n           В секции rows массив строк из файла.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record updated."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "0b0e8c66-9356-47ad-90d9-e1d0504e6764"
                                        },
                                        "data": {
                                            "properties": {
                                                "columns": {
                                                    "properties": {
                                                        "segment_name": {
                                                            "type": "string",
                                                            "example": "Название сегмента"
                                                        },
                                                        "creative_name": {
                                                            "type": "string",
                                                            "example": "Название объявления"
                                                        },
                                                        "date": {
                                                            "type": "string",
                                                            "example": "Дата"
                                                        },
                                                        "cost": {
                                                            "type": "string",
                                                            "example": "Расход"
                                                        },
                                                        "impressions": {
                                                            "type": "string",
                                                            "example": "Показы"
                                                        },
                                                        "clicks": {
                                                            "type": "string",
                                                            "example": "Клики"
                                                        },
                                                        "reach": {
                                                            "type": "string",
                                                            "example": "Охват"
                                                        },
                                                        "views": {
                                                            "type": "string",
                                                            "example": "Просмотры"
                                                        },
                                                        "25%_views": {
                                                            "type": "string",
                                                            "example": "Просмотры 25%"
                                                        },
                                                        "50%_views": {
                                                            "type": "string",
                                                            "example": "Просмотры 50%"
                                                        },
                                                        "75%_views": {
                                                            "type": "string",
                                                            "example": "Просмотры 75%"
                                                        },
                                                        "complete_views_bad": {
                                                            "type": "string",
                                                            "example": "complete_views_bad"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "rows": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "segment_name": {
                                                                "type": "string"
                                                            },
                                                            "creative_name": {
                                                                "type": "string"
                                                            },
                                                            "date": {
                                                                "type": "string"
                                                            },
                                                            "cost": {
                                                                "type": "string"
                                                            },
                                                            "impressions": {
                                                                "type": "string"
                                                            },
                                                            "clicks": {
                                                                "type": "string"
                                                            },
                                                            "reach": {
                                                                "type": "string"
                                                            },
                                                            "views": {
                                                                "type": "string"
                                                            },
                                                            "25%_views": {
                                                                "type": "string"
                                                            },
                                                            "50%_views": {
                                                                "type": "string"
                                                            },
                                                            "75%_views": {
                                                                "type": "string"
                                                            },
                                                            "complete_views_bad": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "invalid": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "complete_views_bad"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "platforms/custom/save": {
            "post": {
                "tags": [
                    "Platforms"
                ],
                "summary": "Сохранение кастомного отчета",
                "operationId": "saveReport",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "rows": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "segment_name": {
                                                            "type": "string"
                                                        },
                                                        "creative_name": {
                                                            "type": "string"
                                                        },
                                                        "date": {
                                                            "type": "string"
                                                        },
                                                        "cost": {
                                                            "type": "string"
                                                        },
                                                        "impressions": {
                                                            "type": "string"
                                                        },
                                                        "clicks": {
                                                            "type": "string"
                                                        },
                                                        "reach": {
                                                            "type": "string"
                                                        },
                                                        "views": {
                                                            "type": "string"
                                                        },
                                                        "25%_views": {
                                                            "type": "string"
                                                        },
                                                        "50%_views": {
                                                            "type": "string"
                                                        },
                                                        "75%_views": {
                                                            "type": "string"
                                                        },
                                                        "complete_views_bad": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record deleted."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "platforms/custom/delete": {
            "post": {
                "tags": [
                    "Platforms"
                ],
                "summary": "Удаление данных кастомного отчета\r\n                    App\\Http\\Controllers\\API\\Platforms\\CustomDataController::deleteReport()",
                "operationId": "deleteReport",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "914c8a10-7b8e-495f-a5f3-8dcc5e963817"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record deleted."
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизован"
                    },
                    "422": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "System error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": "422"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "621b0071-28de-40e8-930e-25308e345a05"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/statistics": {
            "post": {
                "tags": [
                    "Statistics"
                ],
                "summary": "Статистика клиентов по юзеру",
                "description": "Получение детальной статистики по юзеру (все клиенты и сумма)",
                "operationId": "index_user",
                "requestBody": {
                    "request": "IndexUsersRequest",
                    "description": "Запрос статистики по юзеру",
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "dateFrom": {
                                        "type": "string",
                                        "example": "2022-05-01"
                                    },
                                    "dateTo": {
                                        "type": "string",
                                        "example": "2022-05-30"
                                    },
                                    "clientName": {
                                        "type": "string",
                                        "example": "part_of_name"
                                    },
                                    "status": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": [
                                                "soon",
                                                "active",
                                                "paused",
                                                "stopped",
                                                "archived"
                                            ]
                                        },
                                        "collectionFormat": "multi"
                                    },
                                    "history": {
                                        "type": "boolean",
                                        "example": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "Result object.",
                                        "value": {
                                            "success": true,
                                            "data": {
                                                "result": [
                                                    {
                                                        "id": "9c776c85-6cc7-4008-879d-7e93d703516c",
                                                        "name": "Тестовый клиент",
                                                        "statistics": {
                                                            "bid": 0,
                                                            "dailyBudget": 0,
                                                            "weeklyBudget": 0,
                                                            "lifetimeBudget": 0,
                                                            "id": 0,
                                                            "spend": 1454346.61,
                                                            "impressions": 6196293,
                                                            "clicks": 16122,
                                                            "reach": 5752960,
                                                            "videoViews": 1306023,
                                                            "videoViews25p": 542929,
                                                            "videoViews50p": 291618,
                                                            "videoViews75p": 184098,
[...]
